@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;

.heroSection {
  position: relative;
  padding: remF(300) remF(60) remF(350) remF(60);
  z-index: 0;

  .title {
    font-family: "Sansation", sans-serif;
    color: white;
    font-size: remF(50);
    font-weight: 300;
    text-align: center;
    margin-bottom: remF(90);

    span {
      color: #FFA9EB;
    }
  }


  .buttonWrapper {
    width: fit-content;
    margin-inline: auto;
  }

  .button {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 253px;
      height: 84px;
      background-image: url("../../assets/images/Element.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

  }

  .textureImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}