@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/variables" as *;


.section {
  position: relative;
  padding: remF(70) remF(60) remF(70) remF(60);
  z-index: 0;

  .iconsWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: remF(50);
  }

  .title {
    font-family: "Sansation", sans-serif;
    color: white;
    font-size: remF(40);
    font-weight: 300;
    text-align: center;
    margin-bottom: remF(70);
  }

  .descriptionWrapper {
    display: flex;
    gap: remF(20);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
      max-width: 50%;
      height: auto;

      @include customMedia(650) {
        max-width: 90%;
      }
    }
    p {
      flex: 1 1 400px;
      font-size: remF(20);
      font-weight: 400;
      line-height: 1.5;
      color: white;
    }
  }

  .textureImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}