@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

.section {
  position: relative;
  z-index: 0;
  padding: remF(90) remF(60) remF(90) remF(60);

  .textureImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .modelContainer {
    position: relative;
    width: 580px;
    height: 440px;
    border-left: 1px solid #FFA9EB;
    border-right: 1px solid #FFA9EB;

    @include customMedia(768) {
      width: 480px;
      height: 360px;
    }
    @include customMedia(620) {
      width: 100%;
    }
  }

  .title {
    font-family: "Sansation", sans-serif;
    color: white;
    font-size: remF(40);
    font-weight: 300;
    text-align: center;
    margin-bottom: remF(90);
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;
    column-gap: remF(25);
    row-gap: remF(120);

    @include customMedia(768) {
      justify-content: center;
    }
  }

  .description {
    font-size: remF(20);
    font-weight: 400;
    line-height: 1.5;
    max-width: 500px;
    color: white;

    @include customMedia(768) {
      text-align: center;
    }
  }
}