@font-face {
  font-family: 'Louis George Cafe';
  src: url('../../assets/fonts/LouisGeorgeCafe.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('../../assets/fonts/LouisGeorgeCafeLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('../../assets/fonts/LouisGeorgeCafe-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('../../assets/fonts/LouisGeorgeCafe-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('../../assets/fonts/LouisGeorgeCafe-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sansation';
  src: url('../../assets/fonts/SansationLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}